/stt
/chipper/source.sh
/chipper/chipper
/certs
/vector-cloud/packagesGotten
/vector-cloud/cloud/cert.go
/chipper/aarch64
/chipper/armarch
/chipper/processOnce
/ssh_root_key
/chipper/botConfigs
/chipper/gotSys
/wire-picovoice-pod.service
