[Unit]
Description=Wire Escape Pod (picovoice)

[Service]
Type=simple
WorkingDirectory=/home/kerigan/wire-picovoice-pod/chipper
ExecStart=/home/kerigan/wire-picovoice-pod/chipper/start.sh

[Install]
WantedBy=multi-user.target
